.dataGoods {
    form {
        p {
            padding-top: .1rem;
            width: auto;
            input {
                width: 2rem;
            }
        }
        .button {
            background: red;
            border: 0px;
            color: #fff;
            width: .8rem;
            margin-top: .2rem;
        }
    }
}